{
  "presets": ["@babel/preset-react"],
  "plugins": ["@babel/plugin-syntax-jsx"],
  "env": {
    "development": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
